/.idea/
/.vs/

/Veritas.Services.Launcher/bin/
/Veritas.Services.Launcher/obj/

/Veritas.Service.Server/bin/
/Veritas.Service.Server/obj/

/Veritas.Library.McoSettings/bin/
/Veritas.Library.McoSettings/obj/

/Veritas.Library.Logging/bin/
/Veritas.Library.Logging/obj/

/Veritas.Library.Database/bin/
/Veritas.Library.Database/obj/

/Veritas.Library.Configuration/bin/
/Veritas.Library.Configuration/obj/