/.idea/
/.vs/

/Application.Launcher/bin/
/Application.Launcher/obj/

/Veritas.Service.Server/bin/
/Veritas.Service.Server/obj/

/Library.McoSettings/bin/
/Library.McoSettings/obj/

/Library.Logging/bin/
/Library.Logging/obj/

/Library.Database/bin/
/Library.Database/obj/

/Library.Configuration/bin/
/Library.Configuration/obj/

/Debug.Clientside/
/Debug.Serverside/

/Release.Clientside/
/Release.Serverside/